// Colors
$bdazzled-blue: hsla(214, 35%, 37%, 1);
$pale-cerulean: hsla(202, 46%, 72%, 1);
$light-cyan: hsla(182, 82%, 93%, 1);
$burnt-sienna: hsla(12, 83%, 62%, 1);
$gunmetal: hsla(218, 23%, 21%, 1);

body {
  font-family: 'JetBrains Mono';
}

.top-nav {
  max-inline-size: 100vw;
  padding: 20px 20px;
  background-color: $light-cyan;
  margin-block-end: 20px;

  a {
    font-weight: 600;
    color: $bdazzled-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Hero
.hero-container {
  // border: 1px solid #000;
  width: 93vw;
  max-inline-size: 800px;
  margin: 0 auto;
  margin-block-end: 60px;

  .headline-text {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 3px;
  }

  .headline-strapline {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.5;
  }

  a {
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 961px) {
  .hero-container {
    // border: 1px solid #000;
    max-inline-size: 60vw;
    margin: 0 auto;
    margin-block-end: 60px;

    .headline-text {
      font-size: 5.5rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 3px;
    }
  }
}

// Sections
.section-wrapper-text {
  // border: 1px solid #000;
  width: 93vw;
  max-inline-size: 700px;
  margin: 0 auto;
  margin-block-end: 20px;

  .section-header {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-block-end: 15px;
  }

  .section-strapline {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.5;
    margin-block-end: 35px;
  }

  .section-scroll {
    font-weight: 600;
    margin-block-end: 0;
  }
}

@media (min-width: 961px) {
  .section-wrapper-text {
    max-inline-size: 60vw;
  }
}

// Carousel
.carousel-container {
  display: flex;
  width: 100vw;
  margin-block-end: 60px;
  background-color: #dadada;
  padding: 10px 0;
  cursor: pointer;
}

.carousel-images {
  max-height: 250px;
  overflow: hidden;
  display: flex;
  overflow-x: auto;

  .bubble-image,
  .grid-image,
  .type-image {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    margin-inline-end: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:last-child {
    margin-block-end: 0;
  }
  .image-number {
    padding: 10px;
    font-size: 1.4rem;
  }
}

@media (min-width: 961px) {
  .carousel-images {
    width: 100vw;
    max-height: 300px;

    .bubble-image,
    .grid-image,
    .type-image {
      width: 300px;
      height: 300px;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.bottom-nav {
  max-inline-size: 100vw;
  padding: 15px 20px;
  background-color: $light-cyan;
  margin-block-end: 30px;
}

.bottom-nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color: $bdazzled-blue;
}

.bottom-nav-items a:first-child {
  margin-block-end: 10px;
}

a {
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 961px) {
  .bottom-nav {
    max-inline-size: 100vw;
    background-color: $light-cyan;
    margin-block-end: 30px;
  }

  .bottom-nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bottom-nav-items a:first-child {
    margin-block-end: 0px;
  }

  a {
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

// grid images
.grid-image.grid-001 {
  background-image: url(./../assets/white-bg/grid/grid-001.png);
}
.grid-image.grid-002 {
  background-image: url(./../assets/white-bg/grid/grid-002.png);
}
.grid-image.grid-003 {
  background-image: url(./../assets/white-bg/grid/grid-003.png);
}
.grid-image.grid-004 {
  background-image: url(./../assets/white-bg/grid/grid-004.png);
}
.grid-image.grid-005 {
  background-image: url(./../assets/white-bg/grid/grid-005.png);
}
.grid-image.grid-006 {
  background-image: url(./../assets/white-bg/grid/grid-006.png);
}
.grid-image.grid-007 {
  background-image: url(./../assets/white-bg/grid/grid-007.png);
}
.grid-image.grid-008 {
  background-image: url(./../assets/white-bg/grid/grid-008.png);
}

// bubble images
.bubble-image.bubble-001 {
  background-image: url(./../assets/white-bg/bubble/bubble-001.png);
}
.bubble-image.bubble-002 {
  background-image: url(./../assets/white-bg/bubble/bubble-002.png);
}
.bubble-image.bubble-003 {
  background-image: url(./../assets/white-bg/bubble/bubble-003.png);
}
.bubble-image.bubble-004 {
  background-image: url(./../assets/white-bg/bubble/bubble-004.png);
}
.bubble-image.bubble-005 {
  background-image: url(./../assets/white-bg/bubble/bubble-005.png);
}
.bubble-image.bubble-006 {
  background-image: url(./../assets/white-bg/bubble/bubble-006.png);
}
.bubble-image.bubble-007 {
  background-image: url(./../assets/white-bg/bubble/bubble-007.png);
}
.bubble-image.bubble-008 {
  background-image: url(./../assets/white-bg/bubble/bubble-008.png);
}
.bubble-image.bubble-009 {
  background-image: url(./../assets/white-bg/bubble/bubble-009.png);
}
.bubble-image.bubble-010 {
  background-image: url(./../assets/white-bg/bubble/bubble-010.png);
}

// type images
.type-image.type-001 {
  background-image: url(./../assets/white-bg/typography/type-001.png);
}
.type-image.type-002 {
  background-image: url(./../assets/white-bg/typography/type-002.png);
}
.type-image.type-003 {
  background-image: url(./../assets/white-bg/typography/type-003.png);
}
.type-image.type-004 {
  background-image: url(./../assets/white-bg/typography/type-004.png);
}
.type-image.type-005 {
  background-image: url(./../assets/white-bg/typography/type-005.png);
}
.type-image.type-006 {
  background-image: url(./../assets/white-bg/typography/type-006.png);
}
.type-image.type-007 {
  background-image: url(./../assets/white-bg/typography/type-007.png);
}
